@using FBARefund.Models.Reports

@model ReportsViewModel

<div class="row bg-light-grey reports pad6  ">


    <div class="col-sm-12 top-heading flex-center">

        <div class="reports-head">
            <h1>Cases Opened</h1>
            <h2>So before we can proceed please ensure you have linked your credit card</h2>
        </div>
        <div class="seller-id">
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow" m-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-dropdown__toggle btn btn-brand dropdown-toggle">
                    <span>Seller ID</span><br>
                   @Model.SellerId
                </a>
                <div class="m-dropdown__wrapper" style="z-index: 101;">
                    <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">

                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <span class="m-nav__link-text">
                                                Activity
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="uni-table bg-wht border">
        <table class="table-responsive">
            <thead>
            <tbody>

                <tr class="border-b">
                    <th>Filed</th>
                    <th>Amazon Status</th>
                    <th>Case Status</th>
                    <th>Potential</th>
                    <th>Actual</th>
                    <th>Case Id</th>
                    <th>Details</th>
                </tr>
                @foreach (var item in Model.ReportsGridItems)
                {
                    <tr class="border-b">
                        <td>@item.FilledOn.ToShortDateString()</td>
                        <td class="up-letter">@item.AmazonStatus.ToString()</td>
                        <td class="pending">@item.CaseStatus.ToString()</td>
                        <td>$@item.Price<br><b>Qty: @item.Quantity</b></td>
                        <td>@item.Actual</td>
                        <td>@item.CaseId</td>
                        <td><b>@item.Details</b><br><a href="">Details</a></td>
                    </tr>
                }
            </tbody>
            </thead>
        </table>

    </div>
</div>
